* {
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(236, 74, 74);
  color: #fafafa;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
